@use "../../scss/abstracts" as *;

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2.5rem;

  &__label {
    padding: 0.25rem;
    width: 3.5rem;
    background: linear-gradient($grd-primary);
    border-radius: 100rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      opacity: 0.8;
    }
  }

  &__input:focus-visible ~ &__label {
    outline: 0.2rem solid black;
    outline-offset: 0.2rem;
  }

  &__circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }

  &__input:checked ~ &__label &__circle {
    transform: translateX(100%);
  }

  &__text {
    cursor: pointer;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }
}
