@use "../abstracts/" as *;

fieldset {
  border: none;
}

.toggle {
  display: flex;
  justify-content: space-between;

  // &__input {
  //   position: absolute;
  //   scale: 0;
  //   opacity: 0;
  // }
}
