@use "../abstracts/" as *;

body {
  background: {
    color: $clr-primary-100;
    image: url("assets/images/bg-top.svg");
    repeat: no-repeat;
    position: top -2rem right -12rem;
  }
}

fieldset {
  border: none;
}
