@use "../abstracts/" as *;

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Bold.ttf");
}

body {
  font: 700 0.9375rem/1.75rem "Montserrat", sans-serif;
}

.form {
  text-align: center;

  &__title {
    color: $clr-primary-500;
    font-size: 2rem;
  }
}

.toggle {
  &__text {
    color: rgba($clr-primary-500, 0.9);
    user-select: none;
  }
}

.card {
  color: $clr-primary-500;

  &.preferred {
    color: white;
  }

  &__title {
    font-size: 1.125rem;
  }

  &__price {
    font-size: 4.5rem;
    letter-spacing: -0.135rem;
    color: $clr-primary-700;
  }

  &.preferred &__price {
    color: white;
  }

  &__dollar-sign {
    font-size: 2.5rem;
  }
}

.btn {
  font-size: 0.8125rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.087rem;

  &:hover,
  &:focus-visible {
    color: $clr-secondary-500;
  }

  .preferred &:hover,
  .preferred &:focus-visible {
    color: white;
  }
}
