@use "../../scss/abstracts" as *;

.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 4rem;
  margin-inline: auto;
  max-width: 21.875rem;

  @include mq($bp-desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.card {
  padding: 1.95rem get-clamp(1.5rem, 1.8rem, 20rem, 23.4375rem);
  background-color: white;
  border-radius: 0.625rem;

  @include mq($bp-desktop) {
    padding-inline: get-clamp(1.35rem, 1.95rem, 64.0625rem, 68.75rem);
  }

  &.preferred {
    background-image: linear-gradient($grd-primary);

    @include mq($bp-desktop) {
      padding-block: 3.4rem;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  &__list {
    margin-top: 2rem;
    list-style-type: none;
  }

  &__feature {
    padding: 0.75rem;
    border-top: 0.0625rem solid $clr-primary-300;

    &:last-child {
      margin-bottom: 2rem;
      border-bottom: 0.0625rem solid $clr-primary-300;
    }
  }
}
