@use "functions" as *;

// colors

$clr-primary-100: #f6f6fe;
$clr-primary-300: #b3b5c6;
$clr-primary-500: #585b7a;
$clr-primary-700: #45485c;
$clr-secondary-500: #6d72de;

// gradients

$grd-primary: 135deg, #a3a8f0, #696fdd;
